<!DOCTYPE html>
<html>
    <head>
        <title>seedhunt.org</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/Seedhunt.png">
    </head>
    <body>
        <div class="bannerimage">
            <div class="bg-text">
                <h1>
                    Welcome to seedhunt.org!
                </h1>
                <h2>
                    The 1.21 seed finding project
                </h2>
                <a href="/">
                    <button class="button-3" role="button">Home</button>
                </a>
                <a href="/stats">
                    <button class="button-3" role="button">Stats</button>
                </a>
                <a href="/leaderboard">
                    <button class="button-3" role="button">Leaderboard</button>
                </a>
                <a href="/account">
                    <button class="button-3" role="button">Account</button>
                </a>
            </div>
        </div>
        <div style="padding: 4px;"></div>

        <center>
            <h3>
                Wecome {{ user }}!
            </h3>
            <tr>
                <table>
                    <th>User</th>
                    <th>Seeds/Second</th>
                    {% for entry in entries %}
                    <tr>
                        <td>{{entry[0]}}</td>
                        <td>{{entry[1]}}</td>
                    </tr>
                    {% endfor %}

                </table>
        </center>
    </body>
</html>
